body{
    background-color: #000000;
    font-family: Arial, sans-serif,Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 20px;
    color: #ffffff;
}
.header {
color: #ffffff;
    padding: 10px 20px;
    text-align: center;
}

.footer {
    background-color: #333333;
    color: #ffffff;
    padding: 10px 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
