body{
    background-image:url('background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 100%;
    background-attachment: fixed;
    font-family: Arial, sans-serif,Verdana, Tahoma, sans-serif;
    margin: 0;
    padding: 20px;
    color: #ffffff;
}
.header {
color: #ffffff;
    padding: 10px 20px;
    text-align: center;
}

.footer {
    color: #ffffff;
    padding: 10px 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
