body{
    background-image:url('bg1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 100%;
    background-attachment: fixed;
    font-family: Arial, sans-serif,Verdana, Tahoma, sans-serif;
    margin: 0;
    padding: 20px;
    color: #ffffff;
}
.header {
color: #ffffff;
    padding: 10px 20px;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: space-between;
}

ul.nav_1, ul.nav_2 {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}
ul.nav_1 li, ul.nav_2 li {
    margin: 0 10px;
}
ul.nav_1 a, ul.nav_2 a  {
    color: #ccc8c8;
    text-decoration: none;
    transition: background-color 0.3s ease;
}   
.btn_1 {
 color: #000000;
   text-decoration: none;
    border-radius: 50px;
    border: 2px solid #ccc;
    background-color: transparent;
    font-weight: 500;
    text-align: center;
    outline: none;
    padding: 12px 32px;
    font-size: 12px;
    height: 150px;
    width: 150px;
  
}
.cta-button, a{
text-decoration: none;
color: #d2d0d0;
}
.cta-button_1{
    background-color: #8666e0; /* Green */
    color: white;
    padding: 10px 20px;
    border-radius: 50px;
    text-decoration: none;
    margin-right: 10px;
    font-size: 12px;
    font-weight: 500;
}
.cta-button_2{
    font-size: 12px;
}

.cta-button_2:hover{
    color: white;
    padding: 10px 20px;
    border-radius: 50px;
    text-decoration: none;
    margin-right: 10px;
    font-size: 12px;
    font-weight: 500;
    border: 2px solid #fff; /* white */
    background-color: transparent;
}


.footer {
    color: #ffffff;
    padding: 10px 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
b{
    font-size: 20px;
    font-weight: 600;
}

.header .subtitle {
    font-size: 14px;
    color: #ccc8c8;
}
.footer img {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 25px;
    width: 25px;
    margin-top: 5px;

}
.footer a {
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
}
.footer a:hover {
    color: #fff
}